div.search-bar.ui.segment
  padding: 1.5rem 0 2.5rem 0 

  label
    color: hsl(0, 0%, 80%)
    margin-bottom: 1rem
    
.search.icon
  position: absolute
  right: 20px
  top: 33px
  opacity: 0.3
  cursor: text

